@import '../../Style/Variables.sass'

.user-menu
    position: absolute
    top: 30px
    right: 30px

    .sign-out
        border: none
        background: white
        font-family: $regularFont
        color: $black
        cursor: pointer
        outline: none

        figure
            height: 25px
            width: 25px
            margin-right: 7px

    .navbar-item
        .menu-icon
            height: 25px
            width: 25px
            padding: 5px
            margin-left: 5px
            border-radius: 20px
            background: white
            vertical-align: middle
            cursor: pointer

        &:hover
            .menu-icon
                border-bottom-right-radius: 0
                border-bottom-left-radius: 0

    // Overwrite Bulma
    .navbar-dropdown
        top: 85%
        border-top-left-radius: 6px
        border-top: none

        .navbar-item:hover
            background-color: $lightPink

        .navbar-divider
            background-color: $lightPink
