@import 'Variables.sass';
@import './../../node_modules/bulma/bulma.sass';

@font-face
    font-family: 'Raleway-Regular'
    src: url('Fonts/Raleway-Regular.ttf') format('trueType')

@font-face
    font-family: 'Raleway-Bold'
    src: url('Fonts/Raleway-Bold.ttf') format('trueType')

@font-face
    font-family: 'Raleway-ExtraBold'
    src: url('Fonts/Raleway-ExtraBold.ttf') format('trueType')

// App
html
    height: 100%
body
    background: linear-gradient(180deg, rgba(255,90,94,1) 0%, rgba(252,126,96,1) 100%)
    background-attachment: fixed
    font-family: $regularFont
    min-height: 100%

    .main-container
        display: flex
        flex: 1
        flex-direction: column
        align-items: center
        height: 100%

    .loader
        background: no-repeat
        border: none
        font-size: 50px

@media(max-width: $size-desktop)
    .container
        padding: 0 $size-6 0 $size-6
