@import './../../node_modules/bulma/sass/utilities/initial-variables.sass';

// Fonts
$regularFont: 'Raleway-Regular'
$boldFont: 'Raleway-Bold'
$extraBoldFont: 'Raleway-ExtraBold'

// Colors theme
$darkBlue: #262D3C
$pink: #FC6063
$pink-hover: #FC898B
$lightPink: lighten($pink, 25%)
$green: #01B997
$green-hover: #00DFB6
$yellow: #FFC82F
$grey: #F1F1F1
$black: #262D3C
$black-hover: #515E79
$red: #FF0000

// Bulma Breakpoints
$size-450: 450px
$size-tablet: 769px
$size-desktop: 1024px
$size-widescreen: 1216px
$size-fullhd: 1408px
