// Fonts
$regularFont: 'Raleway-Regular'
$boldFont: 'Raleway-Bold'
$extraBoldFont: 'Raleway-ExtraBold'

@font-face
  font-family: 'Raleway-Regular'
  src: url('Fonts/Raleway-Regular.ttf') format('trueType')

@font-face
  font-family: 'Raleway-Bold'
  src: url('Fonts/Raleway-Bold.ttf') format('trueType')

@font-face
  font-family: 'Raleway-ExtraBold'
  src: url('Fonts/Raleway-ExtraBold.ttf') format('trueType')

// Colors theme
$darkBlue: #262D3C
$pink: #FC6063
$lightPink: lighten($pink, 25%)
$green: #01B997
$green-hover: #00DFB6
$yellow: #FFC82F
$grey: #F1F1F1
$black: #262D3C
$black-hover: #515E79
$red: #FF0000
