@import '../../Style/Variables.sass';

figure[data-is="brand-logo"]
    position: absolute
    left: 50%
    transform: translateX(-50%)
    padding: $size-5
    margin-top: $size-5
    width: 400px

    &.is-small
        width: 180px

    @media(max-width: $size-640)
        width: 200px
